body{
    background-color: #02283B;
    overflow: hidden;
}

.popup{
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    background-color: rgba(162, 210, 223, 0.8);
    background-image: url("../images/popup2.png ");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom center;
    color: whitesmoke;
    padding: 20px;
    width: 350px;
    height: 400px;
    border-radius: 15px;
    z-index: 1000000;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.popup button{
    top:20px;
    right:22px;
    position: absolute;
    border:none;
    background: transparent;
    height: 20px;
    width:20px;
    cursor: pointer;
    font-size: 25px;
    color:whitesmoke;
}

.popup button:hover{
    color: #A2D2DF;
}

.popup hr{
    position: fixed;
    color:#A2D2DF;
    width: 100%;
}

.scrollable-div::-webkit-scrollbar-track {
    background: transparent; /* Track color */
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background: white; /* Thumb color */
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4; /* Thumb hover color */
}

.scrollable-div::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}
