body{
    background-color: #02283B;
}

.popup{
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    background-color: rgba(162, 210, 223, 0.8);
    background-image: url("../images/popup2.png ");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom center;
    color: whitesmoke;
    padding: 20px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.popup button{
    top:20px;
    right:22px;
    position: absolute;
    border:none;
    background: transparent;
    height: 20px;
    width:20px;
    cursor: pointer;
    font-size: 25px;
    color:whitesmoke;
}

.popup button:hover{
    color: #A2D2DF;
}

.popup hr{
    position: fixed;
    color:#A2D2DF;
    width: 100%;
}