.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    width: 220px;
  }
  
.search-bar input[type="text"] {
    width: 80%; 
    padding: 10px;
    border: 1.5px solid #A2D2DF;
    border-radius: 10px; 
    background-color: #A2D2DF; 
    color: #2C2A4A;
  }

.search-bar input[type="text"]::placeholder {
    color: #2C2A4A;
  }

.search-bar input[type="text"]:focus {
    outline: none;
    border-color: #2C2A4A; 
  }

  .search-menu{
    display: flex;
  }

  #search-button{
    background-image: url('../images/search.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-position:  10px center;
    background-size: 20px; 
    padding-right: 5px;
    background-color: #A2D2DF;
    border: 1.5px solid #A2D2DF;
    margin-top: 20px; 
    border-radius: 10px; 
    padding-right: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

#search-button{
    color: #2C2A4A;
  }

#search-button:hover {
    outline: none;
    border-color: #2C2A4A; 
  }

#search-button:active {
    border: none;
  }