.search-bar {
    display: flex;
    flex-direction: row;
    margin-top: 20px; 
    width: 100%;
    margin-bottom: 20px;
  }
  
.search-bar input[type="text"] {
  height: 40px;
    width: calc(100% - 55px); 
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border: 1.5px solid #A2D2DF;
    border-radius: 10px; 
    background-color: #A2D2DF; 
    color: #2C2A4A;
  }

.search-bar input[type="text"]::placeholder {
    color: #2C2A4A;
  }

.search-bar input[type="text"]:focus {
    outline: none;
    border-color: #2C2A4A; 
  }

  .search-menu{
    display: flex;
    flex-direction: column;
  }

  #search-button{
    background-image: url('../images/search.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-position:  10px center;
    background-size: 20px; 
    padding-right: 5px;
    background-color: #A2D2DF;
    border: 1.5px solid #A2D2DF; 
    border-radius: 10px; 
    padding-right: 5px;
    margin-right: 5px ;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

#search-button{
    color: #2C2A4A;
  }

#search-button:hover {
    outline: none;
    border-color: #2C2A4A; 
  }

#search-button:active {
    border: none;
  }

.new_row{
  display:flex;
  flex-direction: row;
}

.new_row p{
  margin-top:10px;
  margin-left: 5px;
  margin-right:5px;
  color:#A2D2DF;
}

.new_row select{
  border-radius: 10px;
  height: 40px;
  color: #2C2A4A;
  background-color: #A2D2DF;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../images/dropdown.png") no-repeat scroll right center;
  background-color: #A2D2DF;
  padding: 5px;
  border: 1.5px solid #A2D2DF;
}

.new_row select:hover{
  outline: none;
  border-color: #2C2A4A; 
}

.new_row select:focus{
  outline: none;
}